.match {
  position: relative;
  display: grid;
  grid-template-areas:
    "date date date"
    "homeTeam info awayTeam"
    "homeTeam info awayTeam"
    "homeTeam info awayTeam";
  margin: 0 auto;
}

.match__date {
  position: static;
  grid-area: date;
  justify-content: center;
  width: 100%;
  max-width: 175px;
  margin: 0 auto 15px;
  color: var(--grey);
  font-size: 20px;
  text-align: center;
}

.match__info {
  display: flex;
  flex-direction: column;
  grid-area: info;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.match__team {
  display: flex;
  align-items: center;
  width: 250px;
  font-weight: 400;
  font-size: 25px;

  a {
    position: relative;
    color: var(--pretty-black);
    transition: color 0.4s;
  }

  a:hover {
    color: var(--blue);
  }
}

.match__team--home {
  grid-area: homeTeam;
  justify-content: right;
  text-align: right;
}

.match__team--away {
  grid-area: awayTeam;
}

.winner--home-team::before,
.winner--away-team::after {
  position: absolute;
  top: calc(50% - 12.5px);
  bottom: 0;
  width: 25px;
  content: url("../../../team-winner.svg");
}

.winner--home-team::before {
  right: calc(100% + 20px);
}

.winner--away-team::after {
  left: calc(100% + 20px);
}

.match__scores {
  font-weight: 300;
  font-size: 35px;
}

.match__status {
  color: var(--blue);
}

@media (max-width: 700px) {
  .match__team {
    width: 130px;
    font-size: 18px;
  }

  .match__scores {
    font-size: 30px;
  }

  .match__info {
    font-size: 15px;
  }

  .match__date {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .match__team {
    width: 100px;
    font-size: 14px;
  }

  .match__scores {
    font-size: 20px;
  }

  .match__info {
    font-size: 12px;
  }

  .match__date {
    font-size: 12px;
  }

  .winner--home-team::before,
  .winner--away-team::after {
    position: absolute;
    top: calc(50% - 10px);
    bottom: 0;
    width: 20px;
    content: url("../../../team-winner.svg");
  }
}

@media (max-width: 350px) {
  .match__team {
    width: 90px;
    font-size: 13px;
  }

  .match__scores {
    font-size: 14px;
  }

  .match__info {
    font-size: 9px;
  }

  .match__date {
    font-size: 10px;
  }

  .winner--home-team::before,
  .winner--away-team::after {
    position: absolute;
    top: calc(50% - 6px);
    bottom: 0;
    width: 15px;
    content: url("../../../team-winner.svg");
  }

  .winner--home-team::before {
    right: calc(100% + 5px);
  }

  .winner--away-team::after {
    left: calc(100% + 5px);
  }
}
