.team {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  .team__flag-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    max-height: 200px;
    font-size: 30px;

    img {
      max-height: 200px;
    }
  }

  .team__name {
    font-size: 35px;
  }

  .team__description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
    font-size: 20px;
  }

  .team__country {
    color: var(--grey);
  }

  .team__founded {
    color: var(--light-blue);
  }
}

.team-crop {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
  border-right: 3px solid #fff;
  transition: border-color 0.4s;

  .team-crop__name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    font-size: 30px;
    transition: color 0.4s;
  }

  .team-crop__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    font-size: 17px;
  }

  .team-crop__country {
    color: var(--grey);
  }

  .team-crop__founded {
    color: var(--light-blue);
  }
}

.team-crop:hover {
  border-color: var(--blue);
  cursor: pointer;

  .team-crop__name {
    color: var(--blue);
  }
}

@media (max-width: 500px) {
  .team {
    gap: 20px;

    .team__flag-wrap {
      max-width: 150px;
      max-height: 100px;

      img {
        max-height: 110px;
      }
    }

    .team__name {
      font-size: 20px;
    }

    .team__description {
      width: 150px;
      font-size: 12px;
    }
  }

  .team-crop {
    gap: 20px;

    .team-crop__name {
      width: 150px;
      font-size: 16.8px;
    }

    .team-crop__description {
      width: 150px;
      font-size: 12px;
    }
  }
}
