.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  margin-top: 50px;

  h1 {
    font-size: 70px;
    line-height: 0.5em;
    text-align: center;
  }

  h2 {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
  }

  .btn-wrap {
    width: 50%;
  }

  svg {
    width: 200px;
    height: 200px;
    margin-bottom: 60px;
    animation-name: rotation;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@media (max-width: 800px) {
  .welcome-header {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 30px;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .welcome-header {
    min-height: 500px;

    h1 {
      line-height: 1em;
    }

    h2 {
      font-size: 20px;
    }

    .btn-wrap {
      width: 80%;
    }

    svg {
      width: 150px;
      margin-bottom: 30px;
    }
  }
}
