.competitions-wrap {
  display: grid;
  flex-direction: column;
  gap: 50px;
}

.loading-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

@media (max-width: 500px) {
  .competitions-wrap {
    gap: 35px;
  }

  .loading-wrap {
    height: 400px;
  }
}
