.loading-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.spin {
  width: 60px;
  height: 60px;
  animation-name: rotation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .loading-wrap {
    height: 400px;
  }
}
